<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pat.miraclepat">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".HiltApplication"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        >
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:launchMode="singleTask"
            android:exported="true"
            >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:host="oauth"
                android:scheme="kakao${kakaoApiKey}" />
        </intent-filter>
    </activity>
    </application>

</manifest>